.Main {
    width: 100%;
    padding: 30px;
    row-gap: 30px;
    min-height: calc(100vh - 50px - 50px);
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}